$sassy-base-color: #777 !default;
$sassy-accent-color: coral !default;
$sassy-disabled-color: #eee !default;

@mixin sassy-text {
	box-sizing: border-box;
	min-height: 42px;
	width: 100%;
	padding: 5px 15px;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	vertical-align: middle;
	border-radius: 10px;
	outline: none;
	background: none;
	border: 2px solid #a1a1a1;

	&:focus {}
	&:disabled {
		background-color: $sassy-disabled-color;
		cursor: not-allowed;
	}
	
	@include input-placeholder(rgba(#000, .5));
}
@mixin sassy-textarea {
	@include sassy-text;
	display: block;
	overflow: auto;
}

@mixin sassy-button {
	box-sizing: border-box;
	cursor: pointer;
	min-height: 42px;
	padding: 17px 34px;
	font-family: inherit;
	font-size: 20px;
	border: none;
	border-radius: 5px;
	outline: none;
	text-decoration: none;
	display: inline-block;
	vertical-align: middle;
	color: #fff;
	background: linear-gradient(to bottom, $gradientColorFrom 0%, $gradientColorTo 100%);
	
	&::-moz-focus-inner {
		border: 0;
	}
	&:hover,
	&:focus {
		background: linear-gradient(to bottom, lighten($gradientColorFrom, 10%) 0%, $gradientColorTo 100%);
	}
	&:active {
		background: linear-gradient(to bottom, lighten($gradientColorFrom, 10%) 0%, $gradientColorTo 100%);
	}
}
@mixin input-placeholder($color) {
	&::-webkit-input-placeholder {
		color: $color;
		font-style: italic;
	}
	&:-moz-placeholder {
		color: $color;
		font-style: italic;
	}
	&::-moz-placeholder {
		color: $color;
		font-style: italic;
	}
	&:-ms-input-placeholder {
		color: $color;
		font-style: italic;
	}
}
