.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
	+ label {
		text-overflow: ellipsis;
		white-space: nowrap;
		cursor: pointer;

		.gl-ico {
			vertical-align: top;
			font-size: 18px;
		}

		@include breakpoint(max-width $sm) {
			width: 100%;
			margin: 0 0 20px;
		}
	}
}

