.fc-toolbar {

	&.fc-header-toolbar {
		margin: 0;
		padding: 15px;
		border: 1px solid #e5e5e5;
		border-width: 1px 1px 0 1px;
		background: #fff;
		border-radius: 10px 10px 0 0;
	}

	.fc-center {
		vertical-align: top;
	}
}
.fc {
	.fc-prev-button,
	.fc-next-button {
		height: auto;
		padding: 15px;
		margin: -15px !important;
		font-size: 1em;
		border: 0;
		background: none;
		box-shadow: none;

		.fc-icon {
			top: 0;
			margin: 0;
			vertical-align: middle;
			height: auto;
			line-height: 1;
			font-size: 13px;
			overflow: visible;
			font-family: "gloobers-icons";

			&.fc-icon-left-single-arrow {
				&:after {
					content: "\E006";
					font-weight: normal;
					font-size: 1em;
					top: 0;
				}
			}

			&.fc-icon-right-single-arrow {
				&:after {
					content: "\E007";
					font-weight: normal;
					font-size: 1em;
					top: 0;
				}
			}
		}
	}

	th {
		background: $secondTextColor;
		color: #fff;
		font-size: 10px;
	}
}
.content-box {
	.fc-toolbar {
		h2 {
			margin: 0;
			padding: 5px 0 0;
		}
	}
}
.fc-view-container {
	background: #fff;
}