body {
	background: #fbfbfb;
	color: $mainTextColor;
	font: 18px/28px 'Open Sans', sans-serif;

	.prof-page,
	.hp {
		background: #262626;
	}
}
p {margin: 0 0 20px;}
a {
	color: $linkColor;
	text-decoration: none;
	&:hover {
		text-decoration: underline;
	}
}
h1, h2, h3, h4 {
	font: bold 40px/43px 'PT Sans', sans-serif;
	margin: 0 0 40px;
	color: $secondTextColor;
}
h1 {
	font-size: 30px;
	line-height: 33px;
}
h2 {
	font-size: 40px;
	line-height: 43px;
	margin: 0 0 30px;
}
sup {
	font-size: 0.55em;
	position: relative;
	top: -0.65em;
}
.form-control,
input[type=text],
input[type=url],
input[type=email],
input[type=password],
input[type=number] {
	@include sassy-text;
}
.form-control,
textarea {
	@include sassy-textarea;
}
input[type=submit],
input[type=button],
button {
	@include sassy-button;
}
svg {
	vertical-align: middle;
	max-width: 100%;
	overflow: hidden;
}