@font-face {
	font-family: "gloobers-icons";
	src: url('../fonts/icons/gloobers-icons.eot');
	src: url('../fonts/icons/gloobers-icons.eot?#iefix') format('eot'),
	url('../fonts/icons/gloobers-icons.woff2') format('woff2'),
	url('../fonts/icons/gloobers-icons.woff') format('woff'),
	url('../fonts/icons/gloobers-icons.ttf') format('truetype'),
	url('../fonts/icons/gloobers-icons.svg#gloobers-icons') format('svg');
}

@mixin gl-ico-styles {
	font-family: "gloobers-icons";
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	text-decoration: none;
	text-transform: none;
	font-size: inherit;
	line-height: 1;
	display: inline-block;
}

%gl-ico {
	@include gl-ico-styles;
}

@function gl-ico-char($filename) {
	$char: "";
	
	@if $filename == africa {
		$char: \E001;
	}
	@if $filename == airplane {
		$char: \E002;
	}
	@if $filename == ambiance {
		$char: \E003;
	}
	@if $filename == americas {
		$char: \E004;
	}
	@if $filename == arrow-back {
		$char: \E005;
	}
	@if $filename == arrow-down {
		$char: \E006;
	}
	@if $filename == arrow-left {
		$char: \E007;
	}
	@if $filename == arrow-right {
		$char: \E008;
	}
	@if $filename == arrow-up {
		$char: \E009;
	}
	@if $filename == art-culture {
		$char: \E00A;
	}
	@if $filename == asia-pacific {
		$char: \E00B;
	}
	@if $filename == balcony {
		$char: \E00C;
	}
	@if $filename == bar {
		$char: \E00D;
	}
	@if $filename == bathroom {
		$char: \E00E;
	}
	@if $filename == beach {
		$char: \E00F;
	}
	@if $filename == bedroom {
		$char: \E010;
	}
	@if $filename == bell {
		$char: \E011;
	}
	@if $filename == bike {
		$char: \E012;
	}
	@if $filename == book {
		$char: \E013;
	}
	@if $filename == boutique {
		$char: \E014;
	}
	@if $filename == briefcase {
		$char: \E015;
	}
	@if $filename == business {
		$char: \E016;
	}
	@if $filename == calendar {
		$char: \E017;
	}
	@if $filename == campaign {
		$char: \E018;
	}
	@if $filename == cart-delete {
		$char: \E019;
	}
	@if $filename == casino {
		$char: \E01A;
	}
	@if $filename == catering {
		$char: \E01B;
	}
	@if $filename == check-mark-button {
		$char: \E01C;
	}
	@if $filename == check {
		$char: \E01D;
	}
	@if $filename == close-cross {
		$char: \E01E;
	}
	@if $filename == conceptual {
		$char: \E01F;
	}
	@if $filename == conditioning {
		$char: \E020;
	}
	@if $filename == dinner {
		$char: \E021;
	}
	@if $filename == disability {
		$char: \E022;
	}
	@if $filename == distances {
		$char: \E023;
	}
	@if $filename == edit {
		$char: \E024;
	}
	@if $filename == entertainment {
		$char: \E025;
	}
	@if $filename == europe {
		$char: \E026;
	}
	@if $filename == facebook {
		$char: \E027;
	}
	@if $filename == facilities {
		$char: \E028;
	}
	@if $filename == facilities01 {
		$char: \E029;
	}
	@if $filename == family {
		$char: \E02A;
	}
	@if $filename == fishing {
		$char: \E02B;
	}
	@if $filename == fitness {
		$char: \E02C;
	}
	@if $filename == fooding {
		$char: \E02D;
	}
	@if $filename == golf {
		$char: \E02E;
	}
	@if $filename == google-plus {
		$char: \E02F;
	}
	@if $filename == health {
		$char: \E030;
	}
	@if $filename == heart {
		$char: \E031;
	}
	@if $filename == historic {
		$char: \E032;
	}
	@if $filename == home-user {
		$char: \E033;
	}
	@if $filename == home {
		$char: \E034;
	}
	@if $filename == hotel-type {
		$char: \E035;
	}
	@if $filename == instagram {
		$char: \E036;
	}
	@if $filename == internet {
		$char: \E037;
	}
	@if $filename == kids-activities {
		$char: \E038;
	}
	@if $filename == kitchen {
		$char: \E039;
	}
	@if $filename == like {
		$char: \E03A;
	}
	@if $filename == local-culture {
		$char: \E03B;
	}
	@if $filename == location {
		$char: \E03C;
	}
	@if $filename == logo {
		$char: \E03D;
	}
	@if $filename == luxury {
		$char: \E03E;
	}
	@if $filename == mail {
		$char: \E03F;
	}
	@if $filename == marker-add {
		$char: \E040;
	}
	@if $filename == marker-empty {
		$char: \E041;
	}
	@if $filename == marker-full {
		$char: \E042;
	}
	@if $filename == marker {
		$char: \E043;
	}
	@if $filename == meals {
		$char: \E044;
	}
	@if $filename == methods-of-payment {
		$char: \E045;
	}
	@if $filename == minus {
		$char: \E046;
	}
	@if $filename == motor-sports {
		$char: \E047;
	}
	@if $filename == music {
		$char: \E048;
	}
	@if $filename == nightlife  {
		$char: \E049;
	}
	@if $filename == nightlife {
		$char: \E04A;
	}
	@if $filename == person {
		$char: \E04B;
	}
	@if $filename == photo-camera {
		$char: \E04C;
	}
	@if $filename == photography {
		$char: \E04D;
	}
	@if $filename == plus-rounded {
		$char: \E04E;
	}
	@if $filename == plus {
		$char: \E04F;
	}
	@if $filename == points-of-interest {
		$char: \E050;
	}
	@if $filename == pool {
		$char: \E051;
	}
	@if $filename == push-pin {
		$char: \E052;
	}
	@if $filename == question-mark {
		$char: \E053;
	}
	@if $filename == road-trips {
		$char: \E054;
	}
	@if $filename == room-distribution-alt {
		$char: \E055;
	}
	@if $filename == room-distribution {
		$char: \E056;
	}
	@if $filename == room-facilities {
		$char: \E057;
	}
	@if $filename == sailing {
		$char: \E058;
	}
	@if $filename == school-book-bag {
		$char: \E059;
	}
	@if $filename == scuba-diving {
		$char: \E05A;
	}
	@if $filename == sea-view {
		$char: \E05B;
	}
	@if $filename == search {
		$char: \E05C;
	}
	@if $filename == shopping {
		$char: \E05D;
	}
	@if $filename == sightseeing {
		$char: \E05E;
	}
	@if $filename == ski {
		$char: \E05F;
	}
	@if $filename == spa {
		$char: \E060;
	}
	@if $filename == sports {
		$char: \E061;
	}
	@if $filename == staff {
		$char: \E062;
	}
	@if $filename == star {
		$char: \E063;
	}
	@if $filename == street-map {
		$char: \E064;
	}
	@if $filename == things-to-keep-in-mind {
		$char: \E065;
	}
	@if $filename == transportation {
		$char: \E066;
	}
	@if $filename == trekking {
		$char: \E067;
	}
	@if $filename == tv {
		$char: \E068;
	}
	@if $filename == twitter {
		$char: \E069;
	}
	@if $filename == user {
		$char: \E06A;
	}
	@if $filename == users-group {
		$char: \E06B;
	}
	@if $filename == users {
		$char: \E06C;
	}
	@if $filename == washing {
		$char: \E06D;
	}
	@if $filename == water-sports {
		$char: \E06E;
	}
	@if $filename == wellness {
		$char: \E06F;
	}
	@if $filename == wifi {
		$char: \E070;
	}
	@if $filename == wildlife {
		$char: \E071;
	}
	@if $filename == wine {
		$char: \E072;
	}
	@if $filename == worldwide {
		$char: \E073;
	}

	@return $char;
}

@function unicode($str){
	@return unquote("\"") + $str + unquote("\"");
}

.gl-ico {
	@include gl-ico-styles;
}

@mixin gl-ico($filename, $insert: before, $extend: true) {
	&:#{$insert} {
		content: unicode(gl-ico-char($filename));
	}
}

.gl-ico-africa {
	@include gl-ico(africa);
}
.gl-ico-airplane {
	@include gl-ico(airplane);
}
.gl-ico-ambiance {
	@include gl-ico(ambiance);
}
.gl-ico-americas {
	@include gl-ico(americas);
}
.gl-ico-arrow-back {
	@include gl-ico(arrow-back);
}
.gl-ico-arrow-down {
	@include gl-ico(arrow-down);
}
.gl-ico-arrow-left {
	@include gl-ico(arrow-left);
}
.gl-ico-arrow-right {
	@include gl-ico(arrow-right);
}
.gl-ico-arrow-up {
	@include gl-ico(arrow-up);
}
.gl-ico-art-culture {
	@include gl-ico(art-culture);
}
.gl-ico-asia-pacific {
	@include gl-ico(asia-pacific);
}
.gl-ico-balcony {
	@include gl-ico(balcony);
}
.gl-ico-bar {
	@include gl-ico(bar);
}
.gl-ico-bathroom {
	@include gl-ico(bathroom);
}
.gl-ico-beach {
	@include gl-ico(beach);
}
.gl-ico-bedroom {
	@include gl-ico(bedroom);
}
.gl-ico-bell {
	@include gl-ico(bell);
}
.gl-ico-bike {
	@include gl-ico(bike);
}
.gl-ico-book {
	@include gl-ico(book);
}
.gl-ico-boutique {
	@include gl-ico(boutique);
}
.gl-ico-briefcase {
	@include gl-ico(briefcase);
}
.gl-ico-business {
	@include gl-ico(business);
}
.gl-ico-calendar {
	@include gl-ico(calendar);
}
.gl-ico-campaign {
	@include gl-ico(campaign);
}
.gl-ico-cart-delete {
	@include gl-ico(cart-delete);
}
.gl-ico-casino {
	@include gl-ico(casino);
}
.gl-ico-catering {
	@include gl-ico(catering);
}
.gl-ico-check-mark-button {
	@include gl-ico(check-mark-button);
}
.gl-ico-check {
	@include gl-ico(check);
}
.gl-ico-close-cross {
	@include gl-ico(close-cross);
}
.gl-ico-conceptual {
	@include gl-ico(conceptual);
}
.gl-ico-conditioning {
	@include gl-ico(conditioning);
}
.gl-ico-dinner {
	@include gl-ico(dinner);
}
.gl-ico-disability {
	@include gl-ico(disability);
}
.gl-ico-distances {
	@include gl-ico(distances);
}
.gl-ico-edit {
	@include gl-ico(edit);
}
.gl-ico-entertainment {
	@include gl-ico(entertainment);
}
.gl-ico-europe {
	@include gl-ico(europe);
}
.gl-ico-facebook {
	@include gl-ico(facebook);
}
.gl-ico-facilities {
	@include gl-ico(facilities);
}
.gl-ico-facilities01 {
	@include gl-ico(facilities01);
}
.gl-ico-family {
	@include gl-ico(family);
}
.gl-ico-fishing {
	@include gl-ico(fishing);
}
.gl-ico-fitness {
	@include gl-ico(fitness);
}
.gl-ico-fooding {
	@include gl-ico(fooding);
}
.gl-ico-golf {
	@include gl-ico(golf);
}
.gl-ico-google-plus {
	@include gl-ico(google-plus);
}
.gl-ico-health {
	@include gl-ico(health);
}
.gl-ico-heart {
	@include gl-ico(heart);
}
.gl-ico-historic {
	@include gl-ico(historic);
}
.gl-ico-home-user {
	@include gl-ico(home-user);
}
.gl-ico-home {
	@include gl-ico(home);
}
.gl-ico-hotel-type {
	@include gl-ico(hotel-type);
}
.gl-ico-instagram {
	@include gl-ico(instagram);
}
.gl-ico-internet {
	@include gl-ico(internet);
}
.gl-ico-kids-activities {
	@include gl-ico(kids-activities);
}
.gl-ico-kitchen {
	@include gl-ico(kitchen);
}
.gl-ico-like {
	@include gl-ico(like);
}
.gl-ico-local-culture {
	@include gl-ico(local-culture);
}
.gl-ico-location {
	@include gl-ico(location);
}
.gl-ico-logo {
	@include gl-ico(logo);
}
.gl-ico-luxury {
	@include gl-ico(luxury);
}
.gl-ico-mail {
	@include gl-ico(mail);
}
.gl-ico-marker-add {
	@include gl-ico(marker-add);
}
.gl-ico-marker-empty {
	@include gl-ico(marker-empty);
}
.gl-ico-marker-full {
	@include gl-ico(marker-full);
}
.gl-ico-marker {
	@include gl-ico(marker);
}
.gl-ico-meals {
	@include gl-ico(meals);
}
.gl-ico-methods-of-payment {
	@include gl-ico(methods-of-payment);
}
.gl-ico-minus {
	@include gl-ico(minus);
}
.gl-ico-motor-sports {
	@include gl-ico(motor-sports);
}
.gl-ico-music {
	@include gl-ico(music);
}
.gl-ico-nightlife  {
	@include gl-ico(nightlife );
}
.gl-ico-nightlife {
	@include gl-ico(nightlife);
}
.gl-ico-person {
	@include gl-ico(person);
}
.gl-ico-photo-camera {
	@include gl-ico(photo-camera);
}
.gl-ico-photography {
	@include gl-ico(photography);
}
.gl-ico-plus-rounded {
	@include gl-ico(plus-rounded);
}
.gl-ico-plus {
	@include gl-ico(plus);
}
.gl-ico-points-of-interest {
	@include gl-ico(points-of-interest);
}
.gl-ico-pool {
	@include gl-ico(pool);
}
.gl-ico-push-pin {
	@include gl-ico(push-pin);
}
.gl-ico-question-mark {
	@include gl-ico(question-mark);
}
.gl-ico-road-trips {
	@include gl-ico(road-trips);
}
.gl-ico-room-distribution-alt {
	@include gl-ico(room-distribution-alt);
}
.gl-ico-room-distribution {
	@include gl-ico(room-distribution);
}
.gl-ico-room-facilities {
	@include gl-ico(room-facilities);
}
.gl-ico-sailing {
	@include gl-ico(sailing);
}
.gl-ico-school-book-bag {
	@include gl-ico(school-book-bag);
}
.gl-ico-scuba-diving {
	@include gl-ico(scuba-diving);
}
.gl-ico-sea-view {
	@include gl-ico(sea-view);
}
.gl-ico-search {
	@include gl-ico(search);
}
.gl-ico-shopping {
	@include gl-ico(shopping);
}
.gl-ico-sightseeing {
	@include gl-ico(sightseeing);
}
.gl-ico-ski {
	@include gl-ico(ski);
}
.gl-ico-spa {
	@include gl-ico(spa);
}
.gl-ico-sports {
	@include gl-ico(sports);
}
.gl-ico-staff {
	@include gl-ico(staff);
}
.gl-ico-star {
	@include gl-ico(star);
}
.gl-ico-street-map {
	@include gl-ico(street-map);
}
.gl-ico-things-to-keep-in-mind {
	@include gl-ico(things-to-keep-in-mind);
}
.gl-ico-transportation {
	@include gl-ico(transportation);
}
.gl-ico-trekking {
	@include gl-ico(trekking);
}
.gl-ico-tv {
	@include gl-ico(tv);
}
.gl-ico-twitter {
	@include gl-ico(twitter);
}
.gl-ico-user {
	@include gl-ico(user);
}
.gl-ico-users-group {
	@include gl-ico(users-group);
}
.gl-ico-users {
	@include gl-ico(users);
}
.gl-ico-washing {
	@include gl-ico(washing);
}
.gl-ico-water-sports {
	@include gl-ico(water-sports);
}
.gl-ico-wellness {
	@include gl-ico(wellness);
}
.gl-ico-wifi {
	@include gl-ico(wifi);
}
.gl-ico-wildlife {
	@include gl-ico(wildlife);
}
.gl-ico-wine {
	@include gl-ico(wine);
}
.gl-ico-worldwide {
	@include gl-ico(worldwide);
}