@font-face {
	font-family: "gloobers-icons";
	src: url('../fonts/icons/gloobers-icons.eot');
	src: url('../fonts/icons/gloobers-icons.eot?#iefix') format('eot'),
	url('../fonts/icons/gloobers-icons.woff2') format('woff2'),
	url('../fonts/icons/gloobers-icons.woff') format('woff'),
	url('../fonts/icons/gloobers-icons.ttf') format('truetype'),
	url('../fonts/icons/gloobers-icons.svg#gloobers-icons') format('svg');
}

@mixin gl-ico-styles {
	font-family: "gloobers-icons";
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	text-decoration: none;
	text-transform: none;
	font-size: inherit;
	line-height: 1;
	display: inline-block;
}

%gl-ico {
	@include gl-ico-styles;
}

@function gl-ico-char($filename) {
	$char: "";
	
	@if $filename == airplane {
		$char: \E001;
	}
	@if $filename == arrow-down {
		$char: \E002;
	}
	@if $filename == arrow-left {
		$char: \E003;
	}
	@if $filename == arrow-right {
		$char: \E004;
	}
	@if $filename == arrow-up {
		$char: \E005;
	}
	@if $filename == balcony {
		$char: \E006;
	}
	@if $filename == bar {
		$char: \E007;
	}
	@if $filename == bathroom {
		$char: \E008;
	}
	@if $filename == bedroom {
		$char: \E009;
	}
	@if $filename == briefcase {
		$char: \E00A;
	}
	@if $filename == calendar {
		$char: \E00B;
	}
	@if $filename == check-mark-button {
		$char: \E00C;
	}
	@if $filename == check {
		$char: \E00D;
	}
	@if $filename == close-cross {
		$char: \E00E;
	}
	@if $filename == conditioning {
		$char: \E00F;
	}
	@if $filename == dinner {
		$char: \E010;
	}
	@if $filename == disability {
		$char: \E011;
	}
	@if $filename == facebook {
		$char: \E012;
	}
	@if $filename == family {
		$char: \E013;
	}
	@if $filename == google-plus {
		$char: \E014;
	}
	@if $filename == heart {
		$char: \E015;
	}
	@if $filename == home-user {
		$char: \E016;
	}
	@if $filename == home {
		$char: \E017;
	}
	@if $filename == instagram {
		$char: \E018;
	}
	@if $filename == internet {
		$char: \E019;
	}
	@if $filename == kitchen {
		$char: \E01A;
	}
	@if $filename == like {
		$char: \E01B;
	}
	@if $filename == logo {
		$char: \E01C;
	}
	@if $filename == mail {
		$char: \E01D;
	}
	@if $filename == marker {
		$char: \E01E;
	}
	@if $filename == minus {
		$char: \E01F;
	}
	@if $filename == person {
		$char: \E020;
	}
	@if $filename == photo-camera {
		$char: \E021;
	}
	@if $filename == plus-rounded {
		$char: \E022;
	}
	@if $filename == plus {
		$char: \E023;
	}
	@if $filename == push-pin {
		$char: \E024;
	}
	@if $filename == school-book-bag {
		$char: \E025;
	}
	@if $filename == star {
		$char: \E026;
	}
	@if $filename == street-map {
		$char: \E027;
	}
	@if $filename == tv {
		$char: \E028;
	}
	@if $filename == twitter {
		$char: \E029;
	}
	@if $filename == user {
		$char: \E02A;
	}
	@if $filename == users-group {
		$char: \E02B;
	}
	@if $filename == users {
		$char: \E02C;
	}
	@if $filename == washing {
		$char: \E02D;
	}
	@if $filename == wifi {
		$char: \E02E;
	}

	@return $char;
}

@function unicode($str){
	@return unquote("\"") + $str + unquote("\"");
}

.gl-ico {
	@include gl-ico-styles;
}

@mixin gl-ico($filename, $insert: before, $extend: true) {
	&:#{$insert} {
		content: unicode(gl-ico-char($filename));
	}
}

.gl-ico-airplane {
	@include gl-ico(airplane);
}
.gl-ico-arrow-down {
	@include gl-ico(arrow-down);
}
.gl-ico-arrow-left {
	@include gl-ico(arrow-left);
}
.gl-ico-arrow-right {
	@include gl-ico(arrow-right);
}
.gl-ico-arrow-up {
	@include gl-ico(arrow-up);
}
.gl-ico-balcony {
	@include gl-ico(balcony);
}
.gl-ico-bar {
	@include gl-ico(bar);
}
.gl-ico-bathroom {
	@include gl-ico(bathroom);
}
.gl-ico-bedroom {
	@include gl-ico(bedroom);
}
.gl-ico-briefcase {
	@include gl-ico(briefcase);
}
.gl-ico-calendar {
	@include gl-ico(calendar);
}
.gl-ico-check-mark-button {
	@include gl-ico(check-mark-button);
}
.gl-ico-check {
	@include gl-ico(check);
}
.gl-ico-close-cross {
	@include gl-ico(close-cross);
}
.gl-ico-conditioning {
	@include gl-ico(conditioning);
}
.gl-ico-dinner {
	@include gl-ico(dinner);
}
.gl-ico-disability {
	@include gl-ico(disability);
}
.gl-ico-facebook {
	@include gl-ico(facebook);
}
.gl-ico-family {
	@include gl-ico(family);
}
.gl-ico-google-plus {
	@include gl-ico(google-plus);
}
.gl-ico-heart {
	@include gl-ico(heart);
}
.gl-ico-home-user {
	@include gl-ico(home-user);
}
.gl-ico-home {
	@include gl-ico(home);
}
.gl-ico-instagram {
	@include gl-ico(instagram);
}
.gl-ico-internet {
	@include gl-ico(internet);
}
.gl-ico-kitchen {
	@include gl-ico(kitchen);
}
.gl-ico-like {
	@include gl-ico(like);
}
.gl-ico-logo {
	@include gl-ico(logo);
}
.gl-ico-mail {
	@include gl-ico(mail);
}
.gl-ico-marker {
	@include gl-ico(marker);
}
.gl-ico-minus {
	@include gl-ico(minus);
}
.gl-ico-person {
	@include gl-ico(person);
}
.gl-ico-photo-camera {
	@include gl-ico(photo-camera);
}
.gl-ico-plus-rounded {
	@include gl-ico(plus-rounded);
}
.gl-ico-plus {
	@include gl-ico(plus);
}
.gl-ico-push-pin {
	@include gl-ico(push-pin);
}
.gl-ico-school-book-bag {
	@include gl-ico(school-book-bag);
}
.gl-ico-star {
	@include gl-ico(star);
}
.gl-ico-street-map {
	@include gl-ico(street-map);
}
.gl-ico-tv {
	@include gl-ico(tv);
}
.gl-ico-twitter {
	@include gl-ico(twitter);
}
.gl-ico-user {
	@include gl-ico(user);
}
.gl-ico-users-group {
	@include gl-ico(users-group);
}
.gl-ico-users {
	@include gl-ico(users);
}
.gl-ico-washing {
	@include gl-ico(washing);
}
.gl-ico-wifi {
	@include gl-ico(wifi);
}