$mainTextColor: #000;
$secondTextColor: #501e00;

$linkColor: #1e97d8;


$mainBgColor: #191919;

$secondColor: #ef5519;

$gradientColorFrom: #ffc200;
$gradientColorTo: #d5a200;



$xs: 480px;
$xsh: 640px;
$sm: 768px;
$md: 992px;
$lg: 1400px;