html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, main, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: #fff;
  font: 11px/17px 'PT Sans', Arial, sans-serif;
}

.pdf * {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  font-family: 'PT Sans';
}

.pdf strong {
  font-weight: bold;
}

.pdf .pdf--container {
  margin: 0 auto;
  max-width: 800px;
  padding: 0 15px;
}

.pdf .pdf--container:after {
  content: "";
  display: table;
  clear: both;
}

.pdf .pdf--header {
  background: #fdfdfd url(../images/for-pdf/bg-header.jpg) 200% 0 no-repeat;
  padding: 10px 0 30px;
  margin: 0 0 20px;
}

.pdf .pdf--logo {
  display: block;
  margin: 0 0 40px;
}

.pdf .pdf--voucher-header-desc {
  overflow: hidden;
}

.pdf .pdf--voucher-header-desc .pdf--name {
  float: left;
  width: 60%;
  padding: 52px 0 0;
}

.pdf .pdf--voucher-header-desc .pdf--name-ttl {
  display: block;
  font-size: 27px;
  line-height: 33px;
  font-weight: bold;
  color: #575757;
  font-family: 'PT Sans';
  padding: 0 0 15px;
}

.pdf .pdf--voucher-header-desc .pdf--name .pdf--date {
  font-family: 'PT Sans';
  font-size: 17px;
  line-height: 20px;
  color: #8b8b8b;
  display: block;
}

.pdf .pdf--voucher-header-desc .pdf--ttl {
  float: right;
  width: 245px;
}

.pdf .pdf--voucher-header-desc .pdf--ttl h2 {
  min-height: 60px;
  margin: 0;
  font-size: 39px;
  line-height: 39px;
  text-transform: uppercase;
  color: #575757;
  font-family: 'Open Sans';
  font-weight: 800;
}

.pdf .pdf--reference-number {
  background: #1e97d8;
  color: #fff;
  text-align: right;
  font-weight: bold;
  padding: 30px 1000px 30px 30px;
  margin: 0 -1000px 0 0;
}

.pdf .pdf--reference-number-ttl {
  display: block;
  font-family: 'PT Sans';
  font-size: 14px;
  line-height: 17px;
  padding: 0 0 10px;
}

.pdf .pdf--reference-number-num {
  display: block;
  font-family: 'PT Sans';
  font-size: 34px;
  line-height: 34px;
}

.pdf h3 {
  font-size: 23px;
  line-height: 26px;
  color: #8b8b8b;
  margin: 0 0 15px;
  font-family: 'Open Sans';
  font-weight: 600;
  text-transform: uppercase;
}

.pdf .pdf--content {
  padding: 0 0 20px;
}

.pdf .pdf--desc {
  padding: 0 0 10px;
}

.pdf .pdf--desc-table {
  width: 100%;
  color: #000000;
  font: 13px/16px 'Open Sans', Arial, sans-serif;
  margin: 0 0 25px;
}

.pdf .pdf--desc-table thead th {
  border-bottom: 2px solid #eee;
  text-align: left;
  font-family: 'Open Sans';
  font-weight: bold;
  padding: 5px 0;
}

.pdf .pdf--desc-table thead th:last-child {
  text-align: right;
}

.pdf .pdf--desc-table tbody td {
  text-align: left;
  padding: 5px 0;
  font-family: 'Open Sans';
  border-top: 2px solid #eee;
}

.pdf .pdf--desc-table tbody td:last-child {
  text-align: right;
}

.pdf .pdf--two-columns {
  font-size: 0;
  margin: 0 -22px 25px;
}

.pdf .pdf--two-columns:after {
  content: "";
  display: table;
  clear: both;
}

.pdf .pdf--two-columns .pdf--col {
  padding: 0;
  font: 11px/17px 'PT Sans', Arial, sans-serif;
  float: left;
  vertical-align: top;
  width: 50%;
}

.pdf .pdf--two-columns .pdf--col p {
  margin: 0 22px 20px;
  font-family: 'PT Sans';
}

.pdf .pdf--provider {
  background: #ffc200;
  margin: 0 0 30px;
}

.pdf .pdf--provider .pdf--img-h {
  float: left;
  width: 267px;
  height: 195px;
  margin: -13px 40px -13px 0;
}

.pdf .pdf--provider .pdf--img-h img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.3);
}

.pdf .pdf--provider .pdf--text-h {
  display: table-cell;
  vertical-align: middle;
  height: 170px;
  font: 11px/17px 'PT Sans', Arial, sans-serif;
}

.pdf .pdf--provider .pdf--text-h p {
  font-family: 'PT Sans';
}

.pdf .pdf--provider .pdf--text-h .pdf--provider-name {
  display: block;
  font-size: 23px;
  line-height: 26px;
  margin: 0 0 15px;
  font-family: 'PT Sans';
  color: #501e00;
  font-weight: bold;
}

.pdf .pdf--provider .pdf--text-h .pdf--ref {
  display: block;
}

.pdf .pdf--provider .pdf--text-h .pdf--ref-ttl {
  font-weight: bold;
  display: inline-block;
  margin: 0 20px 0 0;
}

.pdf .pdf--booked-info {
  line-height: 30px;
}

.pdf .pdf--booked-info .pdf--thank {
  float: left;
  font-size: 17px;
  line-height: 30px;
  color: #501e00;
  font-weight: bold;
  padding: 0 0 0 20px;
  background: url(../images/for-pdf/ico-heart.png) 0 50% no-repeat;
}

.pdf .pdf--booked-info .pdf--booked-by {
  overflow: hidden;
  text-align: right;
  font-size: 13px;
}

.pdf .pdf--footer {
  font-size: 12px;
  color: #c5c5c5;
  padding: 0 0 20px;
}

.pdf .pdf--footer .pdf--copy {
  float: left;
  margin: 0;
}

.pdf .pdf--footer .pdf--pages {
  display: block;
  overflow: hidden;
  text-align: right;
}
